// Styles cho phân trang
::ng-deep {
  .pagination {
    margin-bottom: 0;
    gap: 10px;
    
    .page-item {
      .page-link {
        color: #6C757D;
        background-color: #F0F2F5;
        border: none;
        border-radius: 8px !important;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        
        &:hover {
          color: #212529;
          background-color: #E9ECEF;
        }
      }
      
      &.active .page-link {
        color: #212529;
        background-color: #FBD5A5;
        box-shadow: none;
      }
      
      &:nth-child(5) .page-link {
        background-color: #FFB04D;
        color: #212529;
      }
      
      &.disabled .page-link {
        color: #ADB5BD;
        background-color: #F0F2F5;
        opacity: 0.7;
      }
    }
  }
}

.card-footer {
  background-color: #ffffff;
  font-size: 14px;
  border-top: none;
}
