<!-- Start Breadcrumbs -->
<app-breadcrumbs title="PROJECTS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1"></h4>
                <div class="d-flex gap-1">
             
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="openModalExport()">
                        <i class="ri-file-excel-line"></i> Export Excel
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="openModalImport()" *ngIf="isAdmin">
                        <i class="ri-upload-line"></i> Import Excel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row project-wrapper">
    <div class="col-xxl-12">
        <div class="row">
            <div class="col-lg-4">
                <app-projects-stat [title]="'TotalRevenue' | translate" [value]="totalData.totalForAll"
                    [icon]="'briefcase'"></app-projects-stat>
            </div>
            <div class="col-lg-4">
                <app-projects-stat [title]="'RevenueForYear' | translate" [value]="totalData.totalForYear"
                    [icon]="'award'"></app-projects-stat>
            </div>
            <div class="col-lg-4">
                <app-projects-stat [title]="'QuarterlyRevenue' | translate" [value]="totalData.totalForQuarterYear"
                    [icon]="'clock'"></app-projects-stat>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <app-revenuec-digital-total></app-revenuec-digital-total>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-xl-6">
                <app-digital-percent></app-digital-percent>
            </div><!-- end col -->
            <div class="col-xl-6">
                <app-country-percent></app-country-percent>
            </div>
            <div class="col-xl-6">
                <app-youtube-percent></app-youtube-percent>
            </div>
            <div class="col-xl-6">
                <app-price-name-percent></app-price-name-percent>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12" *ngIf="isAdmin">
                <app-table-revenue-art></app-table-revenue-art>
            </div>
            <div class="col-xl-12" *ngIf="isAdmin">
                <app-table-revenue-track></app-table-revenue-track>
            </div>
        </div>

        <!-- end row -->
    </div><!-- end col -->


</div><!-- end row -->