<div class="modal-header">
    <h5 class="modal-title">{{ 'Import Excel' | translate}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  
  <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">{{'Quarter'|translate}}</label>
                <select class="form-control" [(ngModel)]="quarter" style="border-radius: 8px; border: 1px solid #e0e6ed; background: white; color: #333; padding: 8px 12px; min-width: 100px;">
                    <option [value]="1">Quý 1</option>
                    <option [value]="2">Quý 2</option>
                    <option [value]="3">Quý 3</option>
                    <option [value]="4">Quý 4</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">{{'Year'|translate}}</label>
                <select class="form-control" [(ngModel)]="year" style="border-radius: 8px; border: 1px solid #e0e6ed; background: white; color: #333; padding: 8px 12px; min-width: 100px;">
                    <option *ngFor="let item of yearArray" [value]="item">{{ item }}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label class="form-label">{{'Upload file'|translate}}</label>
                <input class="form-control form-control-sm" type="file" (change)="onFileSelected($event)" accept=".xls,.xlsx">
            </div>
        </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="close()">{{'Close'|translate}}</button>
    <button type="button" class="btn btn-outline-primary btn-sm"  (click)="downloadTemplate()">
        {{'Download Template' | translate }}
    </button>
    <button type="button" class="btn btn-outline-success btn-sm"  (click)="importExcel()">
       {{'Import Excel' | translate }}
    </button>
  </div>
  