<div class="modal-header">
    <h5 class="modal-title">{{ 'ResetPassword'| translate}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label required">{{'Password'|translate}}</label>
                <input  type="password" class="form-control" formControlName="password" />
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
                  {{'FieldRequired'|translate}}
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label required">{{'PasswordConfirm'|translate}}</label>
                <input  type="password" class="form-control" formControlName="passwordConfirm" />
                <div *ngIf="form.get('passwordConfirm')?.invalid && form.get('passwordConfirm')?.touched" class="text-danger">
                  {{'FieldRequired'|translate}}
                </div>
            </div>
        </div>
    </form>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">{{'Close'|translate}}</button>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">
      {{  'Save' | translate }}
    </button>
  </div>
  