<div class="card">
    <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Bài hát có doanh thu cao nhất
        </h4>
        <div class="d-flex gap-1">
            <select class="form-control"  (change)="changeYear()" [(ngModel)]="year">
                <option *ngFor="let item of yearArray" [value]="item">{{ item }}</option>
            </select>
            <select class="form-control" *ngIf="typeChart == 1" [(ngModel)]="quarter" (change)="changeYear()">
                <option  [value]="1">Quý 1</option>
                <option  [value]="2">Quý 2</option>
                <option  [value]="3">Quý 3</option>
                <option  [value]="4">Quý 4</option>
            </select>
            <button type="button" class="btn btn-soft-secondary btn-sm" (click)=changeChart(1)>
                {{'Quarter' | translate}}
            </button>
            <button type="button" class="btn btn-soft-secondary btn-sm" (click)=changeChart(2)>
                {{'Year' | translate}}
            </button>
        </div>
    </div>
    <div class="card-header p-0 border-0 bg-soft-light">
    </div><!-- end card header -->
    <div class="card-body p-0 pb-3">
        <div class="mb-n3">
            <div style="padding: 20px;">
                <table class="table table-nowrap table-hover table-bordered">
                    <thead class="table-light">
                      <tr>
                        <td style="width: 20%; text-align: center;">Catalogue Title</td>
                        <td style="width: 20%; text-align: center;">Artist</td>
                        <td style="text-align: center;">Progress bar</td>
                        <td style="width: 150px; text-align: center;">Percentage</td>
                        <td style="width: 150px; text-align: center;">Revenue (VND)</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataTable">
                        <td>{{ item.catalogueTitle}}</td>
                        <td>{{ item.artistName }}</td>
                        <td>
                          <div class="d-flex align-items-center py-2">
                            <div class="flex-grow-1">
                              <div class="progress animated-progress custom-progress progress-label">
                                <!-- Thay đổi giá trị width dựa trên item.percentage -->
                                <div 
                                  class="progress-bar bg-success" 
                                  role="progressbar" 
                                  [style.width.%]="item.percentage" 
                                  [attr.aria-valuenow]="item.percentage" 
                                  aria-valuemin="0" 
                                  aria-valuemax="100"
                                >
                                  <div class="label">{{ item.percentage }}%</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td><p style="float: right;">{{ item.percentage }} %</p></td>
                        <td><p style="float: right;">{{ item.sum | number }} VND</p></td>
                      </tr>
                      <tr *ngIf="dataTable?.length < 1">
                        <td colspan="6" class="text-center">{{'NoData' | translate}}</td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
      
        </div>
    </div><!-- end card body -->
</div>