label.required::after {
    content: ' *'; /* Thêm dấu * */
    color: red;    /* Màu đỏ cho dấu * */
    font-weight: bold; /* Có thể thêm đậm */
    margin-left: 4px;  /* Khoảng cách giữa chữ và dấu * */
  }
  /* Import font từ Google Fonts (ví dụ Roboto) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Áp dụng font cho toàn bộ dự án */
body {
  font-family: "Noto Sans", serif;
}
.form-control{
  min-width:  64px;
}
