<div class="card">
    <div class="card-header d-flex align-items-center">
        <h5 class="card-title flex-grow-1 mb-0"></h5>
        <div class="d-flex gap-1 flex-wrap">
            <div class="col-xl-12">
                    <h4 class="card-title mb-0 flex-grow-1"></h4>
                    <div class="d-flex gap-1">
                        <select class="form-control" [(ngModel)]="year" (change)="getList()">
                            <option *ngFor="let item of yearArray" [value]="item">{{ item }}</option>
                        </select>
                        <select class="form-control" [(ngModel)]="quarter" (change)="getList()">
                            <option [value]="1">Quý 1</option>
                            <option [value]="2">Quý 2</option>
                            <option [value]="3">Quý 3</option>
                            <option [value]="4">Quý 4</option>
                        </select>
                    </div>
            </div>
        </div>
    </div>
    <div class="card-body align-items-center d-flex">
        <div class="table-responsive" style="width: 100%;">
            <table class="table table-nowrap table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th class="text-center">{{'TableRevenueAmin.Name'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.UserName'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.Email'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.PhoneNumber'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.IsEnterprise'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.RevenuePercentage'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.Total'|translate}}</th>
                        <th class="text-center">{{'TableRevenueAmin.UserRevenue'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.name}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td *ngIf="!item.isEnterprise" class="text-center"><input type="checkbox" disabled></td>
                        <td *ngIf="item.isEnterprise" class="text-center"><input type="checkbox" checked disabled></td>
                        <td class="text-end">{{item.revenuePercentage}}</td>
                        <td class="text-end">{{item.totalNetIncome | number}}</td>
                        <td class="text-end">{{item.userRevenue | number}}</td>
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>